<section class="samples-index">
  <h3>Search Compounds</h3>
  <form action="/samples" method="GET">
    <label>Compound</label>
    <input
      type="text"
      name="compound"
      value="<%= searchOptions.sample_name %>"
    />
    <button type="submit">Submit</button>
  </form>
  <br />

  <table>
    <tbody>
      <% samples.forEach(sample => { %>
      <tr>
        <th class="sample-table-header"><%= sample.sample_name%></th>
        <td> <a href="<%= sample.sample_pdf_path %>" download="<%=sample.sample_name%>.pdf"><p>Download PDF</p> </a></td>
        <td> <img height="150" width="150" src="<%= sample.sample_image_path %>"> </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</section>
